<%- include('partials/html_start') -%>
<% var inc = `challenges/day${day}`; %>
<%- include(inc) -%>
<p><b>Solution:</b> <%- solution %></p>
<div class="solutionFooter">
<% if (part === 1) { %><a href="./2">Part 2</a>
<% } else { %><a href="./1">Part 1</a>
<% } %>
    <% if (day > 1) { %>| <a href="../<%= day - 1 %>/1"> Previous day</a><% } %>
    <% if (day < 25) { %>| <a href="../<%= day + 1 %>/1"> Next day</a><% } %>
    | <a href="../../..">Back to index</a>
</div>
<% include partials/html_end %>